{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/fa/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/fa/all.min.js"></script>
</head>
{{ end }}

{{ define "footer" }}
</html>
{{ end }}